@page
@model Ass02Solution_NguyenTuanKhai_SE151228.Pages.ReportModel
@{
    ViewData["Title"] = "Order Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@if (@HttpContextAccessor.HttpContext.Session.GetInt32("id") == null)
{
    RedirectToPage("/Login");
}
@if (@HttpContextAccessor.HttpContext.Session.GetString("role") != null && @HttpContextAccessor.HttpContext.Session.GetString("role").Equals("2"))
{
    RedirectToPage("/Login");
}
<script>
    $(function () {
        $("#datepicker").datepicker();
    });
</script>
<h1>Order Details</h1>
<h4>@Model.msg</h4>
@if (@HttpContextAccessor.HttpContext.Session.GetString("role") != null && @HttpContextAccessor.HttpContext.Session.GetString("role").Equals("1"))
{
    <form>
        <p>
            Filter by order date - From: <input class="form-control" type="datetime-local" id="Test_DatetimeLocal" asp-for="a" asp-format="{0:yyyy-MM-ddTHH:mm}" />
            - To: <input class="form-control" type="datetime-local" id="Test_DatetimeLocal" asp-for="b" asp-format="{0:yyyy-MM-ddTHH:mm}" />
            <input type="submit" value="filter" />
        </p>
    </form>
<h4>Total profit = @Model.total</h4>}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].Order.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail[0].Product)
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.OrderDetail != null)
        {@foreach (var item in Model.OrderDetail)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Order.OrderDate)
                    </td><td>
    @Html.DisplayFor(modelItem => item.UnitPrice)
</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Order.OrderId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.ProductId)
                    </td>
                    <td>
                        <img src="@Url.Content("~/Images/" + item.Product.ProductImage)" onerror="if (this.src != '~/images/avatar-sign.png') this.src = '~/images/avatar-sign.png';" height="100px" width="100px" />
                        @Html.DisplayFor(modelItem => item.Product.ProductImage)
                    </td>
                </tr>
            }}
    </tbody>
</table>
