@page
@model Ass02Solution_NguyenTuanKhai_SE151228.Pages.Categories.DeleteModel

@if (@HttpContextAccessor.HttpContext.Session.GetInt32("id") == null)
{
    RedirectToPage("/Login");
}
@if (@HttpContextAccessor.HttpContext.Session.GetString("role") != null && @HttpContextAccessor.HttpContext.Session.GetString("role").Equals("2"))
{
    RedirectToPage("/Login");
}
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Catergory</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Catergory.CategoryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Catergory.CategoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Catergory.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Catergory.Description)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Catergory.CategoryId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
