@page
@model Ass02Solution_NguyenTuanKhai_SE151228.Pages.Accounts.IndexModel
@if (@HttpContextAccessor.HttpContext.Session.GetInt32("id") == null)
{
    Unauthorized();
}
@if (@HttpContextAccessor.HttpContext.Session.GetString("role") != null && @HttpContextAccessor.HttpContext.Session.GetString("role").Equals("2"))
{
    @Redirect("~/Login");
}
@{
    ViewData["Title"] = "Accounts";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<h1>Accounts Management</h1>
<h4>@Model.msg</h4>
@if (@HttpContextAccessor.HttpContext.Session.GetString("role") != null && @HttpContextAccessor.HttpContext.Session.GetString("role").Equals("2"))
{
    <p>
        <a asp-page="Create">Create New</a>
    </p>}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].AccountId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Account != null)
        {
            @foreach (var item in Model.Account)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.AccountId">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.AccountId">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.AccountId">Delete</a>
                    </td>
                </tr>
            }}
    </tbody>
</table>
