@page
@model Ass02Solution_NguyenTuanKhai_SE151228.Pages.Products.DetailsModel
@if (@HttpContextAccessor.HttpContext.Session.GetInt32("id") == null)
{
    RedirectToPage("/Login");
}
@if (@HttpContextAccessor.HttpContext.Session.GetString("role") != null && @HttpContextAccessor.HttpContext.Session.GetString("role").Equals("2"))
{
    RedirectToPage("/Login");
}
<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.UnitPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.UnitPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.QuantityPerUnit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.QuantityPerUnit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductImage)
        </dt>
        <dd class="col-sm-10">
            <img src="@Url.Content("~/Images/" + Model.Product.ProductImage)" onerror="if (this.src != '~/images/avatar-sign.png') this.src = '~/images/avatar-sign.png';" height="100px" width="100px" />

            @Html.DisplayFor(model => model.Product.ProductImage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Category.CategoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Supplier)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Supplier.Address)
        </dd>
    </dl>
</div>

@if (@HttpContextAccessor.HttpContext.Session.GetString("role") != null && @HttpContextAccessor.HttpContext.Session.GetString("role").Equals("1"))
{
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.Product.ProductId">Edit</a> |
        <a asp-page="./Index">Back to List</a>
    </div>
}

@if (@HttpContextAccessor.HttpContext.Session.GetString("role") == null||(@HttpContextAccessor.HttpContext.Session.GetString("role") != null && @HttpContextAccessor.HttpContext.Session.GetString("role").Equals("2")))
{
    <div>
        <a asp-page="/Products/Index">Back to Products</a> |
        <a asp-page="/Index">Back to Home</a>
    </div>
}